
.icon {
	cursor: pointer;
	margin-left: 20px;
}

a > i {
	color: red;
	-o-transition:color .1s ease-out, background .1s ease-in;
	-ms-transition:color .1s ease-out, background .1s ease-in;
	-moz-transition:color .1s ease-out, background .1s ease-in;
	-webkit-transition:color .1s ease-out, background .1s ease-in;
	transition:color .1s ease-out, background .1s ease-in;	
}

a > i:hover {
	color: black;
}
